body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.button {
    background-color: slateblue;
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}