body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 25px;
}

.button {
    background-color: slateblue;
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.btn-next-round {
    width: 100px;
    margin: 0 auto;
}

#roundNumber {
    font-size: 20px;
    font-weight: bold;
}